<div class="register">
    <form class="col-md-12">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstName" placeholder="First Name"/>

            <label for="lastname">Last Name</label>
            <input class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastName" placeholder="Last Name"/>
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" placeholder="E-mail"/>

            <label for="street">Street</label>
            <input class="form-control" id="street" name="street" [(ngModel)]="user.street" placeholder="Street"/>

            <label for="city">City</label>
            <input class="form-control" id="city" name="city" [(ngModel)]="user.city" placeholder="City"/>

            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone" placeholder="Phone Number"/>

            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="Password"/>
        </div>
        <button class="btn btn-primary btn-lg btn-block" (click)="createUser(user)">Register</button>
    </form>
</div>